@import url("navigation.css");

@import url("./plugin/flexslider.css");

@import url("./plugin/owl.carousel.css");

@import url("./plugin/mediaelementplayer.css");

@import url("./plugin/colorbox.css");

@import url("./plugin/jquery.fs.tipper.css");

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

/*
* BASIC STYLE
  - General Style
  - Headings Style
  - Button Style
  - Form Style
  - Spacer Style

* HEADER
  - Header Style
  - Navigation Menu
  - Right Side Menu Button (Search, Cart, Bar, etc)

* FOOTER

* ELEMENTS
  - Team Box
  - Skills Bar
  - Accordion Tab
  - Counter
  - Service Box
  - Pricing
  - Testimonials
  - Client Logo
  - Icon
  - Table

* GLOBAL STYLES
  - Push Menu Style (Top, Bottom, Left, right)
  - Contents (Body, Container, Section, etc)
  - Contants (Portfolio, Blog, Shop etc)
  - Parallax
  - Slider
  - Preloader
  - Additional
*/

/*-------------------------------------------------------------------------------------------*/

/* BASIC STYLE    ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

::-moz-selection {
  background-color: #e6ae49;
  color: #FFF;
}

::selection {
  background-color: #e6ae49;
  color: #FFF;
}

/*  General Style   ||-----------*/

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 24px;
  color: #323232;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

img {
  height: auto;
  max-width: 100%;
  border: none;
  outline: none;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}

a,
a:focus,
a:active,
a:link,
img {
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #323232;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}

a:hover {
  color: #e6ae49;
  text-decoration: none;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}

.video {
  display: block;
}

br {
  font-size: 0;
  line-height: 0;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
  border-top: 1px solid #f1f1f1;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

strong {
  font-weight: 600;
}

p {
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  margin: 0px 0 10px 0;
  color: #888;
  letter-spacing: 1px;
}

p.lead,
.lead {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.white,
h2.white {
  color: #fff !important;
}

p.small {
  font-size: 12px;
}

.gray {
  color: #888;
}

.light-color h1,
.light-color h4,
.light-color {
  color: #fff;
}

.dark-color {
  color: #323232;
}

.dark-bg {
  background: #323232;
  color: #fff;
}

.dark-bg h4 {
  color: #fff;
}

/*Headings Style   ||-----------*/

h1,
h2,
h3,
h4,
h5,
h6,
hTitle {
  color: #323232;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 10px;
}

h1 {
  font-size: 43px;
  letter-spacing: 2px;
  line-height: 40px;
}

h2.h2 {
  letter-spacing: 15px;
}

@media (max-width: 767px) {
  h2.h2 {
    letter-spacing: 4px;
  }
}

h2 {
  font-size: 27px;
  letter-spacing: 2px;
  line-height: 37px;
  margin-bottom: 20px;
  padding-top: 10px;
}

h3,
hTitle {
  font-size: 21px;
  letter-spacing: 4px;
  line-height: 32px;
}

h3:after {
  color: #e6ae49;
  content: ".";
  font-size: 34px;
}

h4 {
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 28px;
}

h5 {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 23px;
  font-weight: 600;
}

h6 {
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 17px;
  font-weight: 600;
}

/*Button Style   ||-----------*/

.btn:focus {
  outline: none;
}

.btn,
button {
  font-size: 12px;
  line-height: normal;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
}

button {
  vertical-align: top;
}

.btn-lg {
  padding: 15px 25px;
  display: inline-block;
}

.btn-md {
  padding: 11px 20px;
  display: inline-block;
}

.btn-black {
  color: #fff;
  background: #323232;
  border: none;
}

.btn-black:hover {
  color: #fff;
  /*background: #e6ae49;*/
  background: rgba(50,50,50,0.85);
}

.btn-white {
  color: #323232;
  background: rgba(255,255,255,1);
  border: none;
}

.btn-white:hover {
  /*color: #fff;
        background: #e6ae49;*/
  background: rgba(255,255,255,0.85);
  color: #323232;
}

.btn-black-line {
  border: 2px solid;
  background: none;
}

.btn-black-line {
  color: #323232;
  border-color: #323232;
  padding: 9px 20px;
}

.btn-black-line:hover {
  color: #fff;
  background: #323232;
}

.btn-link-a {
  color: #323232;
  background: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  border-bottom: 1px dotted transparent;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-link-a:hover {
  color: #e6ae49;
  border-bottom: 1px solid #e6ae49;
}

/*Form Style   ||-----------*/

button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  display: inline-block;
}

button,
input,
textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

input[type="text"],
input[type="email"],
textarea {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: #888;
  outline: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 10px 15px;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  display: inline-block;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #e6ae49;
  color: #323232;
}

input,
textarea {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

input.input-sm,
.input-sm {
  padding: 8px 15px;
}

textarea {
  height: 120px;
}

.form-full {
  width: 100%;
}

.form-field-wrapper {
  margin-bottom: 20px;
}

.form-field-wrapper input,
.form-field-wrapper textarea {
  margin-bottom: 0px;
}

/* Spacer Style   ||-----------*/

.spacer-15 {
  width: 100%;
  height: 15px;
}

.spacer-30 {
  width: 100%;
  height: 30px;
}

.spacer-60 {
  width: 100%;
  height: 60px;
}

.spacer-75 {
  width: 100%;
  height: 75px;
}

.spacer-90 {
  width: 100%;
  height: 90px;
}

.ptb {
  padding-top: 110px;
  padding-bottom: 110px;
}

.pt {
  padding-top: 110px;
}

.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

@media (max-width: 991px) {
  .mb-sm-30 {
    margin-bottom: 30px;
  }

  .ptb-sm-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .pt-sm-80 {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  .mb-xs-0 {
    margin-bottom: 0px;
  }

  .mtb-xs-30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mb-xs-30 {
    margin-bottom: 30px;
  }

  .float-none-xs {
    float: none !important;
  }
}

/*-------------------------------------------------------------------------------------------*/
/* HEADER         ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/* Header Style */
.wrapper {
    position: relative;
    width: 100%;
}

.push-body-totop .header.sticky {
    position: fixed;
    top: 64px;
}

.header .container {
    position: relative;
}

.header {
    background-color: #fff;
    /*border-bottom: 1px solid #eee;*/
    color: #323232;
    /*padding:25px 0px;*/
    padding: 0px;
    position: relative;
    /*top: 0;*/
    transition: all 0.25s ease 0s;
    -webkit-transition-: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    width: 100%;
    z-index: 2000;
}

    .header.sticky {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        color: #323232;
        position: fixed;
        z-index: 2030;
        transition: all 0.25s ease 0s;
        -webkit-transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
    }

.full-intro .header {
    background-color: rgba(255,255,255,0);
    border-bottom: none;
    position: absolute;
}

    .full-intro .header.sticky {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        color: #323232;
        position: fixed;
        /*border-bottom: 1px solid #eee;*/
    }

.background--dark .header, .background--dark .header a,
.background--dark .header .side-menu-btn ul li a.right-icon, .background--dark .header .mobile-menu-icon {
    color: #fff;
}

.background--light .header, .background--light .header a, .full-intro .header.sticky a, .header a, .header.sticky a,
.mobile-menu-icon, .header.sticky .mobile-menu-icon,
.header .side-menu-btn ul li a.right-icon,
.header.sticky .side-menu-btn ul li a.right-icon, .header .mobile-menu-icon, .header.sticky .mobile-menu-icon {
    color: #323232;
}
    /*#menu-button.menu-opened .bar-icon,*/
    .header .side-menu-btn ul li a.right-icon:hover, .header.sticky .side-menu-btn ul li a.right-icon:hover, .header .mobile-menu-icon:hover,
    .background--dark .header .navigation a:hover {
        color: #e6ae49;
    }

.header li {
    list-style: outside none none;
}

.header ul, .header li {
    margin: 0;
    padding: 0;
}

/* logo Style */
.header .logo a img.l-white, .header .logo a img.l-color, .header.sticky .logo a img.l-white, .header.sticky .logo a img.l-black,
.full-intro .header.sticky .logo a img.l-white,
.background--dark .header .logo a img.l-color, .background--dark .header .logo a img.l-black,
.background--light .header .logo a img.l-light, .background--light .header .logo a img.l-color {
    opacity: 0;
}

.header .logo a img.l-black, .header.sticky .logo a img.l-black, .background--light .header .logo a img.l-black, .background--dark .header .logo a img.l-white {
    opacity: 1;
}

.header .logo {
    float: left;
    display: inline-block;
}

    .header .logo a {
        position: relative;
        display: block;
        width: 160px;
        margin-top: 35px;
    }

.header.sticky .logo a {
    width: 140px;
    margin-top: 21px;
}

.logo a img {
    position: absolute;
    width: 100%;
    opacity: 0;
    display: block;
}

/* Navigation Menu Style*/
.mobile-menu-icon-wraper {
    display: none;
    position: relative;
    float: left;
    margin-left: 20px;
}

.mobile-menu-icon, .header.sticky .mobile-menu-icon {
    height: 25px;
    display: block;
    font-size: 17px;
    line-height: 24px;
}
.side-menu-btn-fix {
    position:fixed;
    top:25px;
    right:25px;
    z-index:2001;
    font-size:17px;
}
.side-menu-btn-fix a{
    width:35px;
    height:35px;
    text-align:center;
    background:rgba(0,0,0,0.8);
    display:block;
    border-radius:3px;
    color:#fff;
    line-height:34px;
}
    .side-menu-btn-fix a:hover {
        background:#e6ae49;
    }
header.sticky .navigation a.current-ele {
    color:#e6ae49 !important;
}

/* Right Side Menu Button Style*/
.header .side-menu-btn {
    float: right;
    position: relative;
}

    .header .side-menu-btn > ul > li, .header .mobile-menu-icon-wraper {
        float: left;
        padding: 35px 0 34px;
        margin-left: 20px;
        transition: all 0.25s ease 0s;
        -webkit-transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
    }

.header.sticky .side-menu-btn > ul > li, .header.sticky .mobile-menu-icon-wraper {
    padding: 19px 0 20px;
}

.header .side-menu-btn ul li a.right-icon {
    display: block;
    position: relative;
}

.header .side-menu-btn ul li a.right-icon {
    height: 25px;
    background-repeat: no-repeat;
    font-size: 17px;
}


.header .side-menu-btn ul li:hover .cart-dropdown {
    visibility: visible;
    opacity: 1;
    top: 100%;
}



@media (max-width: 767px) {
    .header .side-menu-btn > ul > li, .header .mobile-menu-icon-wraper {
        margin-left: 16px;
    }

    .background--dark .header .side-menu-btn ul li a.right-icon, .background--dark .header .mobile-menu-icon {
        color: #323232;
    }

    .header .logo a img.l-black, /*.header.sticky .logo a img.l-color,*/ .background--dark .header .logo a img.l-black {
        opacity: 1;
    }

    .header .logo a img.l-white {
        display: none;
        opacity: 0;
    }

    .header {
        background: #fff;
        color: #323232;
    }

    .full-intro .header {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 991px) {
    /* HEADER STYLE ------------ */
    .header .side-menu-btn ul li, .header .mobile-menu-icon-wraper {
        padding: 19px 0 20px;
    }

    .header .logo a, .header.sticky .logo a {
        margin-top: 25px;
        width: 120px;
    }
    /* END HEADER STYLE ------------------ */
}


@media (min-width: 768px) {
}


@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/*==============================================================================================*/

/* FOOTER         ||---------------------------- */

/*==============================================================================================*/

.footer {
  background-color: #f7f7f7;
  color: #323232;
  position: relative;
  width: 100%;
  display: block;
}

.footer hr {
  border-color: #eee;
}

.footer .footer-info p {
  color: #323232;
}

.footer-logo {
  max-width: 125px;
  display: inline-block;
  width: 100%;
}

.footer .copyright {
  text-align: center;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

/*================================================================================================*/

/* ELEMENTS          ||---------------------------- */

/*================================================================================================*/

/*-------------------------------------------------------------------------------------------*/

/*  Team Box         ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Skills Bar      ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Accordion Tab    ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

.accordion-section {
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}

.accordion-section:last-child {
  border-bottom: 1px solid #f1f1f1;
}

.accordion-title {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 20px 20px;
  margin: 0px;
}

.accordion-title:before {
  content: "\f105";
  display: inline;
  font-family: "FontAwesome",sans-serif;
  /*position: relative;*/
  /*right: 18px;*/
  padding-right: 18px;
  font-weight: 400;
}

.accordion-content.defualt-hidden {
  display: none;
  margin: 0;
}

.accordion-content {
  padding: 0 20px 10px;
}

/*-------------------------------------------------------------------------------------------*/

/*  Counter          ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Service Box      ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

.contact-box-left {
  display: block;
  position: relative;
}

.contact-box-left {
  padding-left: 45px;
  text-align: left;
}

.contact-icon-left {
  font-size: 30px;
  position: absolute;
}

.contact-icon-left {
  left: 0;
}

/*-------------------------------------------------------------------------------------------*/

/*  Pricing       ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Testimonials     ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/* Client Logo       ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/* Icon          ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

.page-icon-top {
  font-size: 50px;
  line-height: 50px;
  padding-bottom: 20px;
  width: 100%;
  color: #323232;
}

/*-------------------------------------------------------------------------------------------*/

/* Table          ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*================================================================================================*/

/* GLOBAL STYLES       ||---------------------------- */

/*================================================================================================*/

/*-------------------------------------------------------------------------------------------*/

/* Push Menu Style (Top Seachbar Menu, Right Sidebar Menu) --------------- */

/*-------------------------------------------------------------------------------------------*/

/* Sidebar Menu */

/* Top Searchbar Menu */

/* --------------------------------------------------------------------------------------- */

/* Contents (Body, Container, Section, etc) -------------- */

/* --------------------------------------------------------------------------------------- */

.wrapper {
  position: relative;
  width: 100%;
}

.inner-intro {
  background-color: #f7f7f7;
  height: 530px;
  display: block;
  position: relative;
}

.inner-intro .container {
  position: relative;
  height: 100%;
  display: table;
}

.inner-intro .container .title {
  padding-bottom: 65px;
  padding-top: 65px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.full-intro .inner-intro .container .title h2 {
  margin-top: 65px;
}

.page-breadcrumb {
  background: rgba(255,255,255,0.9);
  padding: 4px 8px;
  display: inline-block;
  color: #323232;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}

.page-breadcrumb a,
.page-breadcrumb span {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
}

.page-breadcrumb span {
  color: #999;
}

.overlay-dark {
  position: relative;
  z-index: 1;
}

.overlay-dark:before {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.overlay-dark:before {
  background-color: rgba(32,32,32,0.4);
}

.full-screen-intro {
  overflow: hidden;
  position: relative;
}

.full-cap-wraper {
  display: table;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.content-caption {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*backround images*/

.bg-img {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.bg-img1, .bg-img2, .bg-img3, .bg-img4, .bg-img5, .bg-img6, .bg-img7, .bg-img8, .bg-img9, .bg-img10, .bg-img11, .bg-img12, .bg-img13, .bg-img14, .bg-img15, .bg-img16, .bg-img17, .bg-img18, .bg-img19, .bg-img20, .bg-img21, .bg-img22, .bg-img23, .bg-img24, .bg-img25, .bg-img26, .bg-img27, .bg-img28, .bg-img29, .bg-img30, .bg-port-BigCheer, .bg-port-BigCheerLogo, .bg-port-BigCheerFTUE, .bg-port-YarneeProduct, .bg-port-BigCheerFTUE, .bg-port-YarneeWebView, .bg-port-MSAlbum, .bg-port-MSPoster, .bg-port-Github, .bg-port-ScapaFeatures, .bg-Thanks , .bg-index, .bg-portfolio {
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-index {
  background-image: url("../img/bg/bg_index.jpg");
}

.bg-portfolio {
  background-image: url("../img/bg/bg_portfolio.jpg");
}

.bg-port-BigCheer {
    background-image: url("../img/work/04_BigCheerApp/bg-min.png");
}

.bg-port-BigCheerLogo {
    background-image: url("../img/work/05_BigCheerLogo/bg.png");
}

.bg-port-BigCheerFTUE {
    background-image: url("../img/work/06_BigCheerFTUE/bg.jpg");
}

.bg-port-YarneeProduct {
    background-image: url("../img/work/07_YarneeProduct/bg.jpg");
}

.bg-port-YarneeFTUE {
    background-image: url("../img/work/10_YarneeFTUE/bg.jpg");
}

.bg-port-YarneeWebView {
    background-image: url("../img/work/08_YarneeWebView/bg.jpg");
}

.bg-port-MSAlbum {
    background-image: url("../img/work/12_MSAlbumCover/bg.jpg");
}

.bg-port-MSPoster {
    background-image: url("../img/work/13_MSGigPoster/bg.jpg");
}

.bg-port-Github {
    background-image: url("../img/work/14_Github/bg.jpg");
}

.bg-port-ScapaFeatures {
    background-image: url("../img/bg/bg_scapa.jpg");
}

.bg-Thanks {
    background-image: url("../img/full/04.jpg");
}


.bg-img1 {
    background-image: url("../img/full/01.jpg");
}

.bg-img2 {
    background-image: url("../img/full/02.jpg");
}

.bg-img3 {
    background-image: url("../img/full/03.jpg");
}

.bg-img4 {
    background-image: url("../img/full/04.jpg");
}

.bg-img5 {
    background-image: url("../img/full/05.jpg");
}

.bg-img6 {
    background-image: url("../img/full/06.jpg");
}

.bg-img7 {
    background-image: url("../img/full/07.jpg");
}

.bg-img8 {
    background-image: url("../img/full/08.jpg");
}

.bg-img9 {
    background-image: url("../img/full/09.jpg");
}

.bg-img10 {
    background-image: url("../img/full/10.jpg");
}

.bg-img11 {
    background-image: url("../img/full/11.jpg");
}

.bg-img12 {
    background-image: url("../img/full/12.jpg");
}

.bg-img13 {
    background-image: url("../img/work/15_Scapa/bg.png");
}

.bg-img14 {
    background-image: url("../img/full/14.jpg");
    background-attachment: scroll;
}

.bg-img15 {
    background-image: url("../img/full/15.jpg");
}

.bg-img16 {
    background-image: url("../img/full/16.jpg");
}

.bg-img17 {
    background-image: url("../img/full/17.jpg");
}

.bg-img18 {
    background-image: url("../img/full/18.jpg");
}

.bg-img19 {
    background-image: url("../img/full/19.jpg");
}

.bg-img20 {
    background-image: url("../img/full/20.jpg");
}

.bg-img21 {
    background-image: url("../img/full/21.jpg");
}

.bg-img22 {
    background-image: url("../img/full/22.jpg");
}

.bg-img23 {
    background-image: url("../img/full/23.jpg");
}

.bg-img24 {
    background-image: url("../img/full/24.jpg");
}

.bg-img25 {
    background-image: url("../img/full/25.jpg");
}

.bg-img26 {
    background-image: url("../img/full/26.jpg");
}

.bg-img27 {
    background-image: url("../img/full/27.jpg");
}

.bg-img28 {
    background-image: url("../img/full/28.jpg");
}

.bg-img29 {
    background-image: url("../img/full/29.jpg");
}

.bg-img30 {
    background-image: url("../img/full/30.jpg");
}

.border-b-box {
    padding: 25px;
    border-bottom: 1px solid #f1f1f1;
    display: inline-block;
    width: 100%;
}

.border-box {
    border: 1px solid #f1f1f1;
    padding: 25px;
}


@media (max-width: 767px) {
  .inner-intro .container {
    width: 100%;
    max-width: 720px;
    text-align: center;
  }

  /*.inner-intro .container .title h2 {
            float: none;
        }

        .inner-intro .container .title p {
            float: none;
            margin-top: 0px;
        }
        .inner-intro .container .title .separator {
            margin-left:auto;
            margin-right:auto;
        }*/
}

/* ===================================================================================================== */

/* Contants (Portfolio, Blog, Shop, etc) -------------------  */

/* ===================================================================================================== */

.nf-item.spacing {
  padding: 25px;
}

.spacing-grid {
  padding-top: 25px;
  padding-bottom: 25px;
}

.nf-col-2 .nf-item {
  width: 50%;
  min-height: 1px;
}

.nf-col-3 .nf-item {
  width: 33.3333%;
  min-height: 1px;
}

@media (max-width: 991px) {
  .nf-col-2 .nf-item,
  .nf-col-3 .nf-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
  }

  .spacing-grid {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .nf-col-2 .nf-item,
  .nf-col-3 .nf-item {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }

  .nf-col-3 {
    margin: 0 auto;
    max-width: 480px;
  }

  .xs-hidden {
    visibility: hidden !important;
    display: none !important;
    opacity: 0;
  }
}

/* ----------------------------------------------------------------------*/

/* Sidebar Widget   ---------------------------------------------------- */

/* ----------------------------------------------------------------------*/

/* ----------------------------------------------------------------------*/

/* Pagination Navigation   --------------------------------------------- */

/* ----------------------------------------------------------------------*/

/* ----------------------------------------------------------------------*/

/* Portfolio   --------------------------------------------------------- */

/* ----------------------------------------------------------------------*/

.container-filter {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.container-filter li {
  list-style: none;
  display: inline-block;
}

.container-filter li a {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.container-filter li a.active {
  color: #e6ae49;
}

.item-box {
  position: relative;
  overflow: hidden;
  display: block;
}

.item-box a {
  display: inline-block;
}

.item-box:hover .item-container {
  transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%;
}

.item-container {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  width: 100%;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.project-detail-block p {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project-detail-block p strong {
  display: inline-block;
  width: 110px;
}

.item-nav {
  text-align: center;
  display: block;
  overflow: hidden;
}

.item-nav .item-prev,
.item-nav .item-next,
.item-nav .item-all-view {
  position: relative;
  display: inline-block;
}

.item-nav .item-all-view h6 {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.item-nav .item-all-view h6:hover {
  color: #e6ae49;
}

.item-nav .item-prev .prev-btn,
.item-nav .item-next .next-btn,
.item-all-view {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  height: 51px;
  line-height: 51px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.item-nav .item-prev .prev-btn,
.item-nav .item-next .next-btn {
  color: #323232;
  background: #fff;
  width: 51px;
}

.item-nav .item-prev:hover .prev-btn,
.item-nav .item-next:hover .next-btn {
  background: #f7f7f7;
  /*color: #fff;*/
}

.item-nav .item-prev {
  text-align: left;
  float: left;
}

.item-nav .item-next {
  text-align: right;
  float: right;
}

.item-nav .item-prev .item-prev-text,
.item-nav .item-next .item-next-text {
  position: absolute;
  line-height: 51px;
  top: 10px;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  width: 150px;
}

.item-nav .item-prev:hover .item-prev-text,
.item-nav .item-next:hover .item-next-text {
  margin-left: 0;
  margin-right: 0;
  visibility: visible;
  opacity: 1;
}

.item-nav .item-prev .item-prev-text {
  left: 100%;
  margin-left: -110px;
  padding-left: 15px;
}

.item-nav .item-next .item-next-text {
  right: 100%;
  margin-right: -110px;
  padding-right: 15px;
}

.item-nav .item-prev .item-prev-text h6,
.item-nav .item-next .item-next-text h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.item-nav .item-prev .item-prev-text h6,
.item-nav .item-next .item-next-text h6,
.item-nav .item-all-view h6 {
  padding-top: 8px;
}

/* ----------------------------------------------------------------------*/

/* Blog   --------------------------------------------------------- */

/* ----------------------------------------------------------------------*/

/*.blog-post {
    position: relative;
}*/

/* ----------------------------------------------------------------------*/

/* Shop   --------------------------------------------------------- */

/* ----------------------------------------------------------------------*/

.shop-item-info {
  margin-top: 20px;
  text-align: left;
}

.shop-item-info a:hover,
.shop-item-info a:hover h6,
.shop-item-name:hover {
  color: #e6ae49;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}

.shop-item-info .shop-item-name {
  margin-bottom: 5px;
}

/* Shop Detail*/

/* =============================================================================================================================*/

/* Parallax ------------------- */

/* =============================================================================================================================*/

.parallax {
  position: relative;
}

/* ============================================================================================================================*/

/* Slider ---------------------*/

/* ============================================================================================================================*/

/* -------------------------------------*/

/* Full Screen slider---------*/

/* -------------------------------------*/

/* Full Width Slider */

/* Fullscreen Slider Next Prev Arrow*/

@media (max-width: 991px) {
  /* Fullscreen Slider */
}

@media (max-width: 767px) {
  /* Fullscreen Slider */
}

/* -------------------------------------*/

/* Carousel-Theme (Slider Elements - Bullets, Pagination, etc..) ---------*/

/* -------------------------------------*/

/* -------------------------------------*/

/* Singel Item slider (Images & Contant Slider) ---------*/

/* -------------------------------------*/

/*===========================================================================================*/

/* Preloader ------------------------- */

/*===========================================================================================*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,1);
  z-index: 9999;
  display: block;
}

#preloader .loader {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
  text-align: center;
}

#preloader .loader .loader-img {
  /*background: url("../img/loading.GIF");*/
  width: 60px;
  height: 60px;
  display: block;
}

/*===========================================================================================*/

/* Additional */

/*===========================================================================================*/

/* ----------------------------------*/

/* Scroll Down Animated Arrow */

/* ----------------------------------*/

.intro-scroll-down {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  margin-left: -15px;
}

.intro-scroll-down .mouse {
  position: relative;
  display: block;
  width: 30px;
  height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 23px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
}

.intro-scroll-down .mouse .mouse-dot {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin: -3px 0 0 -3px;
  background: #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

/* ----------------------------------*/

/* Scroll Top Arrow */

/* ----------------------------------*/

.scroll-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  font-size: 20px;
  background: #323232;
  background: #555;
  color: #fff;
  z-index: 99;
  display: none;
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.scroll-top:hover {
  background: #e6ae49;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .scroll-top {
    opacity: 0;
    visibility: hidden;
  }
}
