.h1-spacing {
  letter-spacing: 5px;
}

.line-pink {
  color: #FF85E5;
}

.line-green {
  color: #4BD04B;
}

.line-red {
  color: #FF5773;
}

.line-lightBlue {
  color: #52CDFF;
}

.line-blue {
  color: #3F66FF;
}

.line-yellow {
  color: #FFCA00;
}
