@import url("navigation.css");

@import url("./plugin/flexslider.css");

@import url("./plugin/owl.carousel.css");

@import url("./plugin/mediaelementplayer.css");

@import url("./plugin/colorbox.css");

@import url("./plugin/jquery.fs.tipper.css");

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

/*
* BASIC STYLE
  - General Style
  - Headings Style
  - Button Style
  - Form Style
  - Spacer Style

* HEADER
  - Header Style
  - Navigation Menu
  - Right Side Menu Button (Search, Cart, Bar, etc)

* FOOTER

* ELEMENTS
  - Team Box
  - Skills Bar
  - Accordion Tab
  - Counter
  - Service Box
  - Pricing
  - Testimonials
  - Client Logo
  - Icon
  - Table

* GLOBAL STYLES
  - Push Menu Style (Top, Bottom, Left, right)
  - Contents (Body, Container, Section, etc)
  - Contants (Portfolio, Blog, Shop etc)
  - Parallax
  - Slider
  - Preloader
  - Additional
*/

/*-------------------------------------------------------------------------------------------*/

/* BASIC STYLE    ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

::-moz-selection {
  background-color: #e6ae49;
  color: #FFF;
}

::selection {
  background-color: #e6ae49;
  color: #FFF;
}

/*  General Style   ||-----------*/

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 24px;
  color: #323232;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  margin: 0px 0 10px 0;
  color: #888;
  letter-spacing: 1px;
}

/*Headings Style   ||-----------*/

h1 {
  color: #323232;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 10px;
}

h1 {
  font-size: 43px;
  letter-spacing: 2px;
  line-height: 40px;
}

/*Button Style   ||-----------*/

/*Form Style   ||-----------*/

/* Spacer Style   ||-----------*/

/*-------------------------------------------------------------------------------------------*/

/* HEADER         ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/* Header Style */

/*#menu-button.menu-opened .bar-icon,*/

/* logo Style */

/* Navigation Menu Style*/

/* Right Side Menu Button Style*/

@media (max-width: 767px) {
  /*.header.sticky .logo a img.l-color,
  */ .background--dark .header .logo a img.l-black {
    opacity: 1;
  }
}

@media (max-width: 991px) {
  /* HEADER STYLE ------------ */

  /* END HEADER STYLE ------------------ */
}

/*==============================================================================================*/

/* FOOTER         ||---------------------------- */

/*==============================================================================================*/

/*================================================================================================*/

/* ELEMENTS          ||---------------------------- */

/*================================================================================================*/

/*-------------------------------------------------------------------------------------------*/

/*  Team Box         ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Skills Bar      ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Accordion Tab    ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Counter          ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Service Box      ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Pricing       ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*  Testimonials     ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/* Client Logo       ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/* Icon          ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/* Table          ||---------------------------- */

/*-------------------------------------------------------------------------------------------*/

/*================================================================================================*/

/* GLOBAL STYLES       ||---------------------------- */

/*================================================================================================*/

/*-------------------------------------------------------------------------------------------*/

/* Push Menu Style (Top Seachbar Menu, Right Sidebar Menu) --------------- */

/*-------------------------------------------------------------------------------------------*/

/* Sidebar Menu */

/* Top Searchbar Menu */

/* --------------------------------------------------------------------------------------- */

/* Contents (Body, Container, Section, etc) -------------- */

/* --------------------------------------------------------------------------------------- */

/*backround images*/

@media (max-width: 767px) {
  /*.inner-intro .container .title h2 {
            float: none;
        }

        .inner-intro .container .title p {
            float: none;
            margin-top: 0px;
        }
        .inner-intro .container .title .separator {
            margin-left:auto;
            margin-right:auto;
        }*/
}

/* ===================================================================================================== */

/* Contants (Portfolio, Blog, Shop, etc) -------------------  */

/* ===================================================================================================== */

@media (max-width: 767px) {
  .container {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
  }
}

/* ----------------------------------------------------------------------*/

/* Sidebar Widget   ---------------------------------------------------- */

/* ----------------------------------------------------------------------*/

/* ----------------------------------------------------------------------*/

/* Pagination Navigation   --------------------------------------------- */

/* ----------------------------------------------------------------------*/

/* ----------------------------------------------------------------------*/

/* Portfolio   --------------------------------------------------------- */

/* ----------------------------------------------------------------------*/

/* ----------------------------------------------------------------------*/

/* Blog   --------------------------------------------------------- */

/* ----------------------------------------------------------------------*/

/*.blog-post {
    position: relative;
}*/

/* ----------------------------------------------------------------------*/

/* Shop   --------------------------------------------------------- */

/* ----------------------------------------------------------------------*/

/* Shop Detail*/

/* =============================================================================================================================*/

/* Parallax ------------------- */

/* =============================================================================================================================*/

/* ============================================================================================================================*/

/* Slider ---------------------*/

/* ============================================================================================================================*/

/* -------------------------------------*/

/* Full Screen slider---------*/

/* -------------------------------------*/

/* Full Width Slider */

/* Fullscreen Slider Next Prev Arrow*/

@media (max-width: 991px) {
  /* Fullscreen Slider */
}

@media (max-width: 767px) {
  /* Fullscreen Slider */
}

/* -------------------------------------*/

/* Carousel-Theme (Slider Elements - Bullets, Pagination, etc..) ---------*/

/* -------------------------------------*/

/* -------------------------------------*/

/* Singel Item slider (Images & Contant Slider) ---------*/

/* -------------------------------------*/

/*===========================================================================================*/

/* Preloader ------------------------- */

/*===========================================================================================*/

/*===========================================================================================*/

/* Additional */

/*===========================================================================================*/

/* ----------------------------------*/

/* Scroll Down Animated Arrow */

/* ----------------------------------*/

/* ----------------------------------*/

/* Scroll Top Arrow */

/* ----------------------------------*/
